# =========================
# Entornos virtuales
# =========================
venv/
.env/
complex-polar-env/

# =========================
# Datos
# =========================
data/
*.sdf
*.csv
*.pt
*.pth
*.ckpt

# =========================
# Modelos y checkpoints
# =========================
checkpoints/
runs/
logs/

# =========================
# PyTorch / binarios
# =========================
*.dll

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/